/* Home.css */

/* Hero Section */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh; /* Full screen height */
    background-color: #2d3436; /* Dark background */
    color: white;
    text-align: center;
    padding: 0 20px;
    position: relative;
  }
  
  /* Hero Content */
  .hero-content {
    max-width: 950px;
    padding: 10px;
    z-index: 1;
  }
  
  /* Hero Title */
  .hero-title {
    font-size: 40px; /* Larger title for more impact */
    font-weight: 700; /* Bold title */
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #e74c3c; 
    line-height: 1.2;
  }
  
  /* Hero Subtitle */
  .hero-subtitle {
    font-size: 22px; 
    font-weight: 400;
    margin-bottom: 015x;
    opacity: 0.9;
    line-height: 1.6;
    color: #e1e1e1; /* Light text for readability on dark background */
  }
  
  /* Call to Action (CTA) Button */
  .cta-button {
    padding: 18px 45px;
    background-color: #e74c3c; 
    color: #1a202c; /* Dark text color */
    font-size: 1.4em;
    font-weight: 600;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    text-transform: uppercase;
  }
  
  .cta-button:hover {
    background-color: #e74c3c; /* Hover effect for button */
    transform: scale(1.1); /* Button scale on hover */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4); /* Subtle shadow */
  }
  
  /* Overlay effect */
  .hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay for contrast */
    z-index: 0;
  }
  @media (max-width: 768px) {
  
  /* Hero Title */
  .hero-title {
    font-size: 35px; /* Larger title for more impact */
 
  }
  
  /* Hero Subtitle */
  .hero-subtitle {
    font-size: 16px; 
    line-height: 1.8;
    color: #cacaca;
   
  }
  
  }
  