    /* Navbar Styles */
    .navbar {
        padding: 15px 0;
        background-color: #2d3436; /* Dark background */
        
    }
    
    .logo-img {
        width: 80px; /* Adjust width as needed */
        height: auto;
        margin-left: 20px;
    }
    
    
    .navbar-nav .nav-item .nav-link {
        color: #ddd !important;
        font-size: 17px;
        font-weight: 600;
        margin-left: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;

    }
    
    .navbar-nav .nav-item .nav-link:hover {
        color: #e74c3c !important;
        transition: all 0.3s ease;
    }
    
    .navbar-toggler {
        border: none;
    }
    

    
    .navbar-nav .nav-item .nav-link.active {
        font-weight: bold;
        color: #e74c3c !important;
    }
    
    .navbar-nav .nav-item.cart-item {
        position: relative;
    }
    
    .navbar-nav .nav-item .nav-link i {
        font-size: 1.5rem;
        color: #fff;
    }
    
    /* Cart badge styling */
    .cart-badge {
        position: absolute;
        top: -8px;
        right: -8px;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 2px 6px;
        font-size: 0.7rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-toggler {
        border: none;
        box-shadow: none !important; /* Remove box shadow */
    }
    
    .navbar-toggler:focus {
        outline: none; /* Remove the outline when the toggle is focused */
    }
    
    /* Make sure badge doesn't appear when cartItems is 0 */
    .cart-badge {
        display: inline-block;
    }
    
    /* Adjust navbar for smaller screens */
    @media (max-width: 768px) {
        .navbar-nav {
        margin-top: 15px;
        text-align: center;
        }
    
        .navbar-nav .nav-item {
        margin-top: 10px;
        }
        .logo-img {
            width: 80px; /* Adjust width as needed */
            height: auto;
            margin-left: 10px;
        }
        
    }
    /* Small screen adjustments */
    @media (max-width: 992px) {
        .cart-item .nav-link {
        font-size: 1.1rem; /* Adjust cart icon size on mobile */
        }
    
        .cart-badge {
       display: none;
        }
    }